.contenido{
    font-size: 12px;
}
.busqueda{
    width: 150px;
    font-size: 12px;
    margin-right: 10px;
}
.boton{
    font-size: 12px;
}
.oculto{
    display: none;
}
.nav1, .direccion{
    background-color: #c32421;
}
.direccion{
    padding: 15px 15px;
    
    color: aliceblue;
}
.titulo{
    background-color: #fec630;
    font-size: 15px;
    color: red;
    padding-top: 8px;
    padding-bottom: 4px;
}
.franja{
    font-size: 15px;
    text-align: center;
    font-weight: 900;
}

.mensaje{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.botones{
    margin-top: 2rem;
}
.seleccion{
    margin-bottom: 5px;
}
.mapa{
    padding-top: 5px;
}
.back{
    cursor: pointer;
}
#noencontrado{
    margin-top: 90px;
}
#formulario{
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 4vw;
}


