.contenido{
    margin-top: 20px;
}
.oculto{
    display: none;
}
nav, .direccion{
    background-color: #c32421;
}
.direccion{
    padding: 5px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: aliceblue;
}
.titulo{
    font-size: 20px;
}
.boton{
    width: 60px;
}
.mensaje{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.botones{
    margin-top: 2rem;
}



