.contenido{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.oculto{
    display: none;
}
.navsub{
    height: 100px;
    margin: 9px 0;
    background-color: #c32421;
    margin-left: 16px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.formulario{
    margin-bottom: 20px;
}
.direccion{
    padding: 5px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: aliceblue;
    background-color: #c32421;
    margin-left: 16px;
    margin-right: 20px;
}
.titulo{
    font-size: 20px;
}
.boton{
    width: 60px;
}
.mensaje{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.botones{
    margin-top: 2rem;
}
.seleccion{
    margin-bottom: 5px;
}
.agregar{
    margin-left: 16px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px){ 
.navsub{
    height: 160px;
    margin: 9px 0;
    background-color: #c32421;
    margin-left: 16px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.buscar{
    margin-top: 10px;
}
 }


