.header-titulo{
    background-color: #3c8dbc;
}
#titulo{
    color:rgb(255, 255, 255);
    font-weight: bolder;
}
.encabezado{
    text-align: center;
    margin-top: 10px;
}
.subMy{
    margin-top: 10px;
}
.subextracto{
    background-color: #3c8dbc;
    padding-left: 30px;
    font-size: 20px;
    cursor: pointer;
}
.subextracto:hover{
    color:white;
}
.lista{
    list-style: none;
    padding-left: 30px;
    margin-left: 10px;
}
.li-head{
    margin-bottom: 4px;
    font-weight: bold;
}
.li-item{
    padding-left: 5px;
}
.li-empresa{
    font-size: 17px;
    font-weight:bolder;
}
.li-puesto{
    display: inline-flex;
    font-size: 15px;
    margin-left: 25px;
}
.li-tiempo{
    display: inline-flex;
    margin-left: 75px;
}
.li-ciudad{
    display: inline-flex;
    font-size: 15;
    
    margin-left: 85px;

}
.actividades{
    margin-left: 28px;
}
.contacto{
    color: aliceblue;
    margin-top: 15px;
}
.item-contacto{
    list-style: none;
    padding-left: 15px;
    font-size: 14;
}
.contacto-header{
    list-style: none;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tree-item{
    list-style: none;
    margin-left: 20px;
}
.treeview-menu{
    padding-left: 10px;
}
.xgramos{
    padding-top: 15px;
    padding-left: 20px;
}
.seleccion{
    margin-bottom: 15px;
}
.resbtn{
    margin-bottom: 15px;
    margin-top: 15px;
}
.laSuma{
    padding-bottom: 30px;
}
.a{
    width: 160px;
}
.b{
    width: 100px;
}
.c{
    width: 10px;
}
#contimg{
    position: relative;
}
#imgunehs{
    width: 100%;
}
#imgunehs:hover{
    width: 98%;
}
#link{
    position: relative;
    color:white;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
.velo{
    top: 0px;
    position: absolute;
    width: 92.8%;
    height:100%;
}
.velo:hover{
    background-color: black;
    opacity: 0.8;
}
.proto{
    background-color: #3c8dbc;
    padding: 5px;
    color:white;
    width: 1065px;
    margin-top: 4px;
    padding-left: 20px;
    padding-top: 3px;
}