@font-face {
    font-family: livemonoRegular;
    src: url(../fonts/Livemono-Regular.ttf);
}
@font-face {
    font-family: livemonoMedium;
    src: url(../fonts/Livemono-Medium.ttf);
}
@font-face {
    font-family: livemonoBold;
    src: url(../fonts/Livemono-Bold.ttf);
}
@font-face {
    font-family: Akzidenz-Grotesk BQ;
    src: url(../fonts/AkzidenzGroteskBQ-Reg.woff);
}
@font-face {
    font-family: Akzidenz-Grotesk BQBold;
    src: url(../fonts/AkzidenzGroteskBQ-Bold.woff);
}
@font-face {
    font-family: Helvetica;
    src: url(../fonts/Helvetica.ttf);
}
@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.woff);
}
@font-face {
    font-family: PoppinsBold;
    src: url(../fonts/Poppins-Bold.woff);
}
@font-face {
    font-family: RobotikaRegular;
    src: url(../fonts/RobotikaRegular.ttf);
}
@font-face {
    font-family: RobotikaBold;
    src: url(../fonts/RobotikaBold.ttf);
}
@font-face {
    font-family: RobotikasemiBold;
    src: url(../fonts/RobotikaSemibold.ttf);
}