/* ::::::::::::: texto de slider ::::::::::::::::*/
.background-text-plechero{
    display: flex;
    position:absolute;
    left: 2.95%;
    top: 40%;
    color:white;
}
.background-text-plechero ul{ 
    list-style: none;
    padding-left: 82%;
}
.background-text-plechero .vertical-text{
    font-size: 8px;
    font-family: Inter;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-top: 220px;
    letter-spacing: -0.5px;
    height: 20%;
}
.background-text-plechero .vertical-line{
    border-right: 2px solid white;
    height: 47px;
    margin-top: 14px;
    width: 6px;
}
.background-text-plechero .horizontal-text1-plechero{
    font-size: 75px;
    font-family: Inter;
    height: 90px;
    margin-left: 30px;
}
.background-text-plechero .horizontal-text1-plechero p{
    font-size: 15px;
    font-family: Akzidenz-Grotesk BQBold;
    letter-spacing: -0.5px;
    margin-top: -25px;
    margin-left: -12px;
}
.background-text-plechero .horizontal-text2-plechero{
    font-size:103px;
    font-family: RobotikaThin ;
    letter-spacing: -3px;
    margin-top: 25px;
    margin-left: 15px;
}
.background-text-plechero .horizontal-text3-plechero{
    font-size:103px;
    font-family: RobotikaBold ;
    letter-spacing: -3px;
    margin-left: 2px;
    margin-top: -33px;
    margin-left: 15px;
}
.background-text-plechero .horizontal-text4-plechero{
    font-size: 8px;
    font-family: Akzidenz-Grotesk BQ;
    letter-spacing: 0.3px;
    margin-top: 3px;
    margin-left: 14px;
}
.recuadro-plechero {
    display: flex;
    margin-left: 338px;
    margin-top: 312px;
}
.recuadro-plechero .recuadro-item1-plechero{
    background-color:white;
    color: black;
    width: 314px;
    height: 136px;
    padding-top: 38px;
    padding-left: 64px;
}
.recuadro-plechero .recuadro-item1-plechero p:first-child{
    font-family: Inter;
    font-size: 9px;
    margin-bottom: 1px;
    font-weight: bold;
}
.recuadro-plechero .recuadro-item1-plechero p:last-child{
    font-family: Inter;
    font-size: 14px;
    letter-spacing: -0.45px;
}
.recuadro-plechero .recuadro-item2-plechero{
   background-color: #1BA6E3;
    width: 92px;
    height: 136px;
    padding-left: 35px;
    padding-top: 52px;
}
.recuadro-plechero .recuadro-item2-plechero img:first-child{
    display: block;
    width: 21px;
    height: 7px;
    margin-bottom: 28px;
 }
 .recuadro-plechero .recuadro-item2-plechero img:last-child{
    display: block;
    width: 21px;
    height: 7px;
 }
section{
    background-color: #F5F5F5;
}
.program{
    display: flex;
    margin-left: 6.5%;
    margin-right: 1.1%;
    padding-bottom: 2.5rem;
}
.program .title-text{
    font-family: livemono;
    font-size: 1.125rem;
    color: #1AA2DD;
    margin-top:2.938rem ;
    margin-bottom: 2.25rem;
}
.program .title-text h6{
    display: inline-block;
}
.program-text{
    padding-right: 14%;
}
.program-text p:first-child{
    font-family: Akzidenz-Grotesk BQBold;
    font-size: 2.375rem;
    margin-bottom: 2.2rem;
}
.program-text p:last-child{
    font-family: livemonoRegular;
    font-size: 1rem;
    margin-bottom: 2.4rem;
    color: #777C83;
    letter-spacing: -1px;
}
.program button{
    font-family: RobotikasemiBold;
    padding: 1rem 4rem;
    background-color: #1AA2DD;
    color: #FFFFFF;
    border-radius: 50px;
}
.periodo{
    font-family: livemonoBold;
    padding-left: 5.375rem;
    padding-top: 9.188rem;
    color: #1AA2DD;
    font-size: 1.125rem;
}
.periodo ul:first-child{
    list-style: none;
    width: 30.25rem;
    margin-right: 7.375rem;
}
.sub-periodo{
    margin-bottom: 3.125rem;
    border-bottom: solid 1px #1AA2DD;
}
.sub-periodo-titulo{
    margin-bottom: 2.063rem;
}
.sub-periodo-black{
    font-family: Akzidenz-Grotesk BQBold;
    font-size: 1.875rem;
    margin-bottom: 3.125rem;
    color: black;
    border-bottom: solid 1px #1AA2DD;
}
.periodo ul:last-child{
    list-style: none;
}
.sub-recomendacion{
    margin-bottom: 6.313rem;
}
.sub-recomendacion-img img{
    margin-right: 7.125rem;
    margin-bottom: 2.5rem;
}
.objetivos{
    padding-top: 12.063rem;
    padding-left: 6.85%;
    padding-right: 4%;
    padding-bottom: 9.5rem;
    display: flex;
}
.objetivos-item1{
    width: 43%;
    padding-right: 125px;
}
.objetivos-item1 p:first-child{
    font-family: Akzidenz-Grotesk BQBold;
    color: #1D1E3C;
    font-size: 2.375rem;
    line-height: 1;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
.objetivos-item1 p:last-child{
    font-family: livemonoRegular;
    color: #777C83;
    font-size: 1rem;
    line-height: 1.4;
}
