.background-text-hiphos{
    display: flex;
    position:absolute;
    left: 2.95%;
    top: 22%;
    color:white;
}
.background-text-hiphos ul{
    list-style: none;
    padding-left: 85%;
}
.background-text-hiphos .vertical-text-hiphos{
    font-size: 56.25%;
    font-family: Inter;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-top: 353px;
    letter-spacing: -0.1px;
    height: 20%;
}
.background-text-hiphos .vertical-line-hiphos{
    border-right: 2px solid white;
    height: 47px;
    margin-top: 17px;
    width: 6px;
}
.background-text-hiphos .horizontal-text1-hiphos{
    font-size: 75px;
    font-family: Inter;
    height: 90px;
    margin-left: 20px;
}
.background-text-hiphos .horizontal-text1-hiphos p{
    font-size: 10px;
    font-family: Inter;
    margin-left: 20px;
}
.background-text-hiphos .horizontal-text2-hiphos{
    margin-top: 71px;
    margin-left: 25px;
    font-size: 15px;
    font-family: Akzidenz-Grotesk BQBold;
    letter-spacing: 0.4px;
}
.background-text-hiphos .horizontal-text3-hiphos{
    font-size: 80px;
    font-family: RobotikaBold;
    letter-spacing: 2px;
    margin-left: -2px;
    margin-top: 8px;
    margin-left: 22px;
}
.background-text-hiphos .horizontal-text3-hiphos p{
    font-size: 80px;
    display: inline-block;
    font-family: RobotikaThin;
    letter-spacing: 0.9px;
    margin-left: -4px;
}
.background-text-hiphos .horizontal-text4-hiphos{
    font-size: 16px;
    font-family: livemonoRegular;
    letter-spacing: 0.4px;
    margin-left: -3px;
    width: 50%;
    margin-left: 20px;
    line-height: 1.25;
}
.background-text-hiphos .horizontal-text5-hiphos{
    font-size: 8px;
    font-family: Akzidenz-Grotesk BQ;
    letter-spacing: 0.4px;
    margin-top: 70px;
    margin-left: 20px;
}
.recuadro-hiphos {
    display: flex;
    margin-left: 50px;
    margin-top: 449px;
}
.recuadro-hiphos .recuadro-item1-hiphos{
    background-color:white;
    color: black;
    width: 314px;
    height: 136px;
    padding-top: 38px;
    padding-left: 64px;
}
.recuadro-hiphos .recuadro-item1-hiphos p:first-child{
    font-family: Inter;
    font-size: 9px;
    margin-bottom: 1px;
    font-weight: bold;
}
.recuadro-hiphos .recuadro-item1-hiphos p:last-child{
    font-family: Inter;
    font-size: 14px;
    letter-spacing: -0.45px;
}
.recuadro-hiphos .recuadro-item2-hiphos{
   background-color: #1BA6E3;
    width: 92px;
    height: 136px;
    padding-left: 35px;
    padding-top: 52px;
}
.recuadro-hiphos .recuadro-item2-hiphos img:first-child{
    display: block;
    width: 21px;
    height: 7px;
    margin-bottom: 28px;
 }
 .recuadro-hiphos .recuadro-item2-hiphos img:last-child{
    display: block;
    width: 21px;
    height: 7px;
 }
 /* :::::::::::::::: Bio
 /* :::::::::::::::: Sectio :::::::::::::::::::::::::::*/
section{
    background-color: #F5F5F5;
}
.ficha{
    padding-left: 8.6%;
    padding-bottom: 6.625rem;
}
.ficha .title-text{
    font-family: livemonoBold;
    font-size: 1.125rem;
    color: #1AA2DD;
}
.ficha .ficha-content{
    font-family: Akzidenz-Grotesk BQ;
    display: flex;
}
/*columna 1*/
.ficha-content .column1{
    margin-top: 7.5rem;
}
.ficha-content .column1 ul{
    list-style: none;
}
.ficha-content .column1 ul li:first-child{
    margin-bottom: 4.25rem;
}
.ficha-content .column1 ul li:last-child{
    margin-top: 7.063rem;
}
/*columna */
.ficha-content .column2{
    margin-left: 4.188rem;
    margin-right: 6.688rem;
}
/*columna 3*/
.ficha-content .column3{
    margin-top: 7.5rem;
    padding-right: 15%;
}
.ficha-content .column3 ul{
    list-style: none;
}
.ficha-content .column3 ul li:first-child{
    margin-bottom: 4.25rem;
}
.ficha-content .column3 ul li:last-child{
    margin-top: 7.063rem;
}
/*------- our-company -------*/
.our-company{
    display: flex;
    margin-left: 8%;
    margin-right: 6.5%;
    padding-bottom: 7.563rem;
}
.our-company .title-text{
    font-family: livemonoBold;
    font-size: 1.125rem;
    color: #1AA2DD;
    margin-top:3.875rem ;
    margin-bottom: 6.875rem;
}
.our-company .title-text h6{
    display: inline-block;
}
.our-text{
    padding-right: 19%;
}
.our-text p:first-child{
    font-family: RobotikaBold;
    font-size: 2.375rem;
    font-weight: bold;
    margin-bottom: 3.125rem;
}
.our-text p:last-child{
    font-family: livemonoRegular;
    font-size: 1rem;
    margin-bottom: 5rem;
    color: #777C83;
}
.our-company button{
    font-family: RobotikasemiBold;
    padding: 0.906rem 4rem;
    background-color: #1AA2DD;
    color: #FFFFFF;
}
/* ---------  dosis ----------- */
.dosis{
    padding-left:7.125rem ;
    padding-right: 9.875rem;
    padding-bottom: 11.25rem;
}
.dosis .dosis-title{
    font-family: livemonoMedium;
    font-size: 1.764rem;
    color: #FFFFFF;
    background-color: #1AA2DD;
    width: 17.75rem;
    height: 2.875rem;
    padding-top: 6px;
    padding-left: 38px;
}
.dosis .data-sheet{
    display: flex;
    background-color: #FFFFFF;
    padding-top: 35px;
    padding-bottom: 16px;
}
.dosis .data-sheet .data-sheet-item{
    border-right: solid black 1px;
    width: 25%;
    padding-left:31px ;
    padding-top: 29px;
    padding-bottom: 45px;
    vertical-align: middle;
}
.dosis .data-sheet .data-sheet-item p:first-child{
    font-size: 1rem;
    margin-bottom: 0;
    font-family: Akzidenz-Grotesk BQBold;
}
.dosis .data-sheet .data-sheet-item p:last-child{
    font-size: 1rem;
    margin-bottom: 0;
    font-family: Akzidenz-Grotesk BQ;
}
.dosis .data-sheet .data-sheet-buttom{
    padding-left: 2.25rem;
    padding-top: 1.938rem;
}
.dosis .data-sheet .data-sheet-buttom buttom{
    font-size: 1rem;
    font-family: Akzidenz-Grotesk BQBold;
    background-color: #16284F;
    color: #FFFFFF;
    padding-left: 1.531rem;
    padding-right: 1.531rem;
    padding-top: 0.719rem;
    padding-bottom: 0.719rem;
}
/* --------- form-sheet ------------ */

.form-sheet .form{
    box-shadow:1px 1px 7px gray;
    position: absolute;
    margin-top: -610px;
    margin-left: 160px;
    display: flex;
    width: 83.6%;
    border-radius: 30px;
}
.form-sheet .form .item-form{
    width: 64.5%;
    background-color: #FFFFFF;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    padding-top: 52px;
    padding-left: 70px;
}
.form-sheet .form .item-form h2{
    font-family: RobotikaBold;
    color: #1AA2DD ;
    font-size: 30px;
    margin-bottom: 39px;
}
.form-sheet .form .item-img{
    width: 35.5%;
    background-color: #EEEEEE;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.form-group1{
    width: 242px;
    margin-right: 40px;
}
.form-group2{
    width: 305px;
}
.group label{
    font-family: Akzidenz-Grotesk BQ;
    display: block;
    font-size: 15px;
}
.group input{
    font-family: Akzidenz-Grotesk BQ;
    width: 100%;
    border-bottom: solid black 1px;
    outline: none;
    font-size: 15px;
    color: #D7D7D7;
    border-width: 0 0 1px 0;
    padding-top: 35px;
    margin-bottom: 21px;
}
.item-form form button{
    font-family: Akzidenz-Grotesk BQBold;
    width: 305px;
    margin-top: 49px;
    margin-right: 68px;
    margin-bottom: 3.625rem;
    background-color: #1AA2DD;
    color: white;
    border-color:#1AA2DD;
}
.item-img img{
    padding-top: 20px;
}
/* --------- css para ganatec ------------ */
/* :::::::::::::::: texto slider Ganatec ::::::::::::::::::::::: */
.background-text-ganatec{
    display: flex;
    position:absolute;
    left: 2.95%;
    top: 16.5%;
    color:white;
}
.background-text-ganatec ul{
    list-style: none;
    padding-left: 85%;
}
.background-text-ganatec .vertical-text-ganatec{
    font-size: 56.25%;
    font-family: Inter;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-top: 400px;
    margin-left: 0.5px;
    letter-spacing: -0.1px;
    height: 20%;
}
.background-text-ganatec .vertical-line-ganatec{
    border-right: 2px solid white;
    height: 47px;
    margin-top: 15px;
    width: 6px;
    margin-left: 4px;
}
.background-text-ganatec .horizontal-text1-ganatec{
    font-size: 75px;
    font-family: Inter;
    height: 90px;
    margin-left: 20px;
    padding-top: 40px;
}
.background-text-ganatec .horizontal-text1-ganatec p{
    font-size: 10px;
    font-family: Inter;
    margin-top: -10px;
    margin-left: -2px;
}
.background-text-ganatec .horizontal-text2-ganatec{
    margin-top: 95px;
    margin-left: 18px;
    font-size: 15px;
    font-family: Akzidenz-Grotesk BQBold;
    letter-spacing: 0.4px;
}
.background-text-ganatec .horizontal-text3-ganatec{
    font-size: 80px;
    display: inline-block;
    font-family: RobotikaBold;
    letter-spacing: 1.9px;
    margin-left: 16px;
    margin-top: 18px;
    width: 114%;
}
.background-text-ganatec .horizontal-text3-ganatec p{
    font-size: 80px;
    display: inline-block;
    font-family: RobotikaThin;
    letter-spacing: 1.6px;
    margin-left: -4px;
    margin-bottom: 0;
    
}
.background-text-ganatec .horizontal-text4-ganatec{
    font-size: 16px;
    font-family: livemonoRegular;
    letter-spacing: 0.4px;
    margin-left: 18px;
    margin-top: 25px;
    width: 50%;
    line-height: 1.17;
}
.background-text-ganatec .horizontal-text5-ganatec{
    font-size: 8px;
    font-family: Akzidenz-Grotesk BQ;
    letter-spacing: 0.4px;
    margin-top: 57px;
    margin-left: 19px;
    display: inline-block;
}
.recuadro-ganatec {
    display: flex;
    margin-left: -225px;
    margin-top: 492px;
}
.recuadro-ganatec .recuadro-item1-ganatec{
    background-color:white;
    color: black;
    width: 314px;
    height: 136px;
    padding-top: 45px;
    padding-left: 64px;
}
.recuadro-ganatec .recuadro-item1-ganatec p:first-child{
    font-family: Inter;
    font-size: 9px;
    margin-bottom: 1px;
    font-weight: bold;
}
.recuadro-ganatec .recuadro-item1-ganatec p:last-child{
    font-family: Inter;
    font-size: 14px;
    letter-spacing: -0.45px;
}
.recuadro-ganatec .recuadro-item2-ganatec{
   background-color: #FDAC10;
    width: 92px;
    height: 136px;
    padding-left: 35px;
    padding-top: 52px;
}
.recuadro-ganatec .recuadro-item2-ganatec img:first-child{
    display: block;
    width: 21px;
    height: 7px;
    margin-bottom: 28px;
 }
 .recuadro-ganatec .recuadro-item2-ganatec img:last-child{
    display: block;
    width: 21px;
    height: 7px;
 }
/* :::::::::::::::::: Ficha :::::::::::::::::::::::::::::: */
.ficha .ficha-content-ganatec{
    font-family: Akzidenz-Grotesk BQ;
    display: flex;
}
/*columna 1*/
.ficha-content-ganatec .column1{
    margin-top: 2.5rem;
}
.ficha-content-ganatec .column1 ul{
    list-style: none;
}
.ficha-content-ganatec .column1 ul li{
    margin-bottom: 4.25rem;
}
/*columna 2*/
.ficha-content-ganatec .column2{
    margin-left: 4.188rem;
    margin-right: 6.688rem;
}
/*columna 3*/
.ficha-content-ganatec .column3{
    margin-top: 2rem;
    padding-right: 15%;
}
.ficha-content-ganatec .column3 ul{
    list-style: none;
}
.ficha-content-ganatec .column3 ul li{
    margin-bottom: 3rem;
}
.dosis .dosis-title-ganatec{
    font-family: livemonoMedium;
    font-size: 1.764rem;
    color: #FFFFFF;
    background-color: #FF6C00;
    width: 17.75rem;
    height: 2.875rem;
    padding-top: 6px;
    padding-left: 38px;
}
/* -------------- css para BioHidra -------------------*/
/* :::::::::::::::: texto slider BIohydra ::::::::::::::::::::::: */
.background-text-biohydra{
    display: flex;
    position:absolute;
    left: 2.95%;
    top: 22%;
    color:white;
}
.background-text-biohydra ul{
    list-style: none;
    padding-left: 85%;
}
.background-text-biohydra .vertical-text-biohydra{
    font-size: 56.25%;
    font-family: Inter;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-top: 311px;
    letter-spacing: -0.1px;
    height: 20%;
}
.background-text-biohydra .vertical-line-biohydra{
    border-right: 2px solid white;
    height: 47px;
    margin-top: 15px;
    width: 6px;
}
.background-text-biohydra .horizontal-text1-biohydra{
    font-size: 75px;
    font-family: Inter;
    height: 90px;
    margin-left: 20px;
}
.background-text-biohydra .horizontal-text1-biohydra p{
    font-size: 10px;
    font-family: Inter;
    margin-top: -10px;
}
.background-text-biohydra .horizontal-text2-biohydra{
    margin-top: 51px;
    margin-left: 19px;
    font-size: 15px;
    font-family: Akzidenz-Grotesk BQBold;
    letter-spacing: 0.4px;
}
.background-text-biohydra .horizontal-text3-biohydra{
    font-size: 95px;
    display: inline-block;
    font-family: RobotikaBold;
    letter-spacing: 2px;
    margin-top: 7px;
    margin-left: 19px;
    width: 100%;
}
.background-text-biohydra .horizontal-text3-biohydra p{
    font-size: 95px;
    display: inline-block;
    font-family: RobotikaThin;
    letter-spacing: 2px;
    margin-left: -4px;
}
.background-text-biohydra .horizontal-text4-biohydra{
    font-size: 16px;
    font-family: livemonoRegular;
    letter-spacing: 0.4px;
    margin-left: -4px;
    width: 50%;
    margin-left: 20px;
    line-height: 1.15;
}
.background-text-biohydra .horizontal-text5-biohydra{
    font-size: 8px;
    font-family: Akzidenz-Grotesk BQ;
    letter-spacing: 0.4px;
    margin-top: 95px;
    margin-left: 19px;
    display: inline-block;
    
}
.recuadro-biohydra {
    display: flex;
    margin-left: -240px;
    margin-top: 449px;
}
.recuadro-biohydra .recuadro-item1-biohydra{
    background-color:white;
    color: black;
    width: 314px;
    height: 136px;
    padding-top: 38px;
    padding-left: 64px;
}
.recuadro-biohydra .recuadro-item1-biohydra p:first-child{
    font-family: Inter;
    font-size: 9px;
    margin-bottom: 1px;
    font-weight: bold;
}
.recuadro-biohydra .recuadro-item1-biohydra p:last-child{
    font-family: Inter;
    font-size: 14px;
    letter-spacing: -0.45px;
}
.recuadro-biohydra .recuadro-item2-biohydra{
   background-color: #0667C5;
    width: 92px;
    height: 136px;
    padding-left: 35px;
    padding-top: 52px;
}
.recuadro-biohydra .recuadro-item2-biohydra img:first-child{
    display: block;
    width: 21px;
    height: 7px;
    margin-bottom: 28px;
 }
 .recuadro-biohydra .recuadro-item2-biohydra img:last-child{
    display: block;
    width: 21px;
    height: 7px;
 }
.ficha-biohydra{
    padding-left: 8.6%;
    padding-bottom: 3.625rem;
}
.ficha-biohydra .title-text{
    font-family: livemonoBold;
    font-size: 1.125rem;
    color: #1AA2DD;
}
.ficha-biohydra .ficha-content-biohydra{
    font-family: Akzidenz-Grotesk BQ;
    display: flex;
}
/*columna 1*/
.ficha-content-biohydra .column1{
    margin-top: 7.5rem;
    width: 332px;
}
.ficha-content-biohydra .column1 ul{
    list-style: none;
    padding-left: 0;
}
.ficha-content-biohydra .column1 ul li:first-child{
    margin-bottom: 4.25rem;
}
.ficha-content-biohydra .column1 ul li:last-child{
    margin-top: 4.25rem;
}
.ficha-content-biohydra .column2{
    margin-top:8rem ;
}
/*columna 3*/
.ficha-content-biohydra .column3{
    margin-top: 9.813rem;
    padding-right: 15%;
}
.ficha-content-biohydra .column3 ul{
    list-style: none;
    padding-left: 0;
    width: 264px;
}
.ficha-content-biohydra .column3 ul li:last-child{
    margin-top: 7.063rem;
}
/* -------------- css para BioEnergy -------------------*/
/* :::::::::::::::: texto slider BioEnergy ::::::::::::::::::::::: */
.background-text-bioenergy{
    display: flex;
    position:absolute;
    left: 2.95%;
    top: 22%;
    color:white;
}
.background-text-bioenergy ul{
    list-style: none;
    padding-left: 85%;
}
.background-text-bioenergy .vertical-text-bioenergy{
    font-size: 56.25%;
    font-family: Inter;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-top: 340px;
    letter-spacing: -0.1px;
    height: 20%;
}
.background-text-bioenergy .vertical-line-bioenergy{
    border-right: 2px solid white;
    height: 47px;
    margin-top: 15px;
    width: 6px;
}
.background-text-bioenergy .horizontal-text1-bioenergy{
    font-size: 75px;
    font-family: Inter;
    height: 90px;
    margin-left: 20px;
}
.background-text-bioenergy .horizontal-text1-bioenergy p{
    font-size: 10px;
    font-family: Inter;
    margin-top: -10px;
}
.background-text-bioenergy .horizontal-text2-bioenergy{
    margin-top: 51px;
    margin-left: 19px;
    font-size: 15px;
    font-family: Akzidenz-Grotesk BQBold;
    letter-spacing: 0.4px;
}
.background-text-bioenergy .horizontal-text3-bioenergy{
    font-size: 95px;
    display: inline-block;
    font-family: RobotikaBold;
    letter-spacing: 2px;
    margin-top: 7px;
    margin-left: 19px;
    width: 100%;
}
.background-text-bioenergy .horizontal-text3-bioenergy p{
    font-size: 95px;
    display: inline-block;
    font-family: RobotikaThin;
    letter-spacing: 2px;
    margin-left: -4px;
}
.background-text-bioenergy .horizontal-text4-bioenergy{
    font-size: 16px;
    font-family: livemonoRegular;
    letter-spacing: 0.4px;
    margin-left: -4px;
    width: 50%;
    margin-left: 20px;
    line-height: 1.15;
}
.background-text-bioenergy .horizontal-text5-bioenergy{
    font-size: 8px;
    font-family: Akzidenz-Grotesk BQ;
    letter-spacing: 0.4px;
    margin-top: 60px;
    margin-left: 19px;
    display: inline-block;
    
}
.recuadro-bioenergy {
    display: flex;
    margin-left: -55px;
    margin-top: 449px;
}
.recuadro-bioenergy .recuadro-item1-bioenergy{
    background-color:white;
    color: black;
    width: 314px;
    height: 136px;
    padding-top: 38px;
    padding-left: 64px;
}
.recuadro-bioenergy .recuadro-item1-bioenergy p:first-child{
    font-family: Inter;
    font-size: 9px;
    margin-bottom: 1px;
    font-weight: bold;
}
.recuadro-bioenergy .recuadro-item1-bioenergy p:last-child{
    font-family: Inter;
    font-size: 14px;
    letter-spacing: -0.45px;
}
.recuadro-bioenergy .recuadro-item2-bioenergy{
   background-color: #2C8840;
    width: 92px;
    height: 136px;
    padding-left: 35px;
    padding-top: 52px;
}
.recuadro-bioenergy .recuadro-item2-bioenergy img:first-child{
    display: block;
    width: 21px;
    height: 7px;
    margin-bottom: 28px;
 }
 .recuadro-bioenergy .recuadro-item2-bioenergy img:last-child{
    display: block;
    width: 21px;
    height: 7px;
 }
/*columna */
.column2-energy{
    margin-left: 3.75rem;
    margin-right: 5.688rem;
}
/*columna 3*/
.column3-energy{
    margin-top: 7.5rem;
    padding-right: 12.33%;
}
.column3-energy ul{
    list-style: none;
}
.column3-energy ul li:first-child{
    margin-bottom: 4.25rem;
}
.column3-energy ul li:last-child{
    margin-top: 7.063rem;
}
.our-company-bioenergy button{
    padding: 0.906rem 4rem;
    background-color: #2C8840;
    color: #FFFFFF;
}
.our-company-bioenergy button:hover{
    background-color: #2C8840;
    color: #FFFFFF;
}
.dosis .data-sheet .data-sheet-item-energy{
    border-right: solid black 1px;
    width: 18.75%;
    padding-left:31px ;
    padding-top: 29px;
    padding-bottom: 45px;
    vertical-align: middle;
}
.dosis .data-sheet .data-sheet-item-energy p:first-child{
    font-size: 1rem;
    margin-bottom: 0;
    font-family: Akzidenz-Grotesk BQBold;
}
.dosis .data-sheet .data-sheet-item-energy p:last-child{
    font-size: 1rem;
    margin-bottom: 0;
    font-family: Akzidenz-Grotesk BQ;
}
.dosis-title-bioenergy{
    font-family: livemonoMedium;
    font-size: 1.764rem;
    color: #FFFFFF;
    background-color: #2C8840;
    width: 17.75rem;
    height: 2.875rem;
    padding-top: 6px;
    padding-left: 38px;
}
.data-sheet-buttom-energy{
    padding-left: 2.25rem;
    padding-top: 1.938rem;
}
.data-sheet-buttom-energy buttom{
    font-size: 1rem;
    font-family: Akzidenz-Grotesk BQBold;
    background-color: #EDB20E;
    color: #FFFFFF;
    padding-left: 1.531rem;
    padding-right: 1.531rem;
    padding-top: 0.719rem;
    padding-bottom: 0.719rem;
}
.data-sheet-buttom-energy buttom:hover{
    background-color: #EDB20E;
    color: #FFFFFF;  
}
/* -------------- css para Grasssuplex -------------------*/
/* :::::::::::::::: texto slider Grasssuplex ::::::::::::::::::::::: */
.background-text-grasssuplex{
    display: flex;
    position:absolute;
    left: 2.95%;
    top: 16.5%;
    color:white;
}
.background-text-grasssuplex ul{
    list-style: none;
    padding-left: 85%;
}
.background-text-grasssuplex .vertical-text-grasssuplex{
    font-size: 56.25%;
    font-family: Inter;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-top: 385px;
    margin-left: 0.5px;
    letter-spacing: -0.1px;
    height: 20%;
}
.background-text-grasssuplex .vertical-line-grasssuplex{
    border-right: 2px solid white;
    height: 47px;
    margin-top: 15px;
    width: 6px;
    margin-left: 4px;
}
.background-text-grasssuplex .horizontal-text1-grasssuplex{
    font-size: 75px;
    font-family: Inter;
    height: 90px;
    margin-left: 20px;
    padding-top: 13px;
}
.background-text-grasssuplex .horizontal-text1-grasssuplex p{
    font-size: 10px;
    font-family: Inter;
    margin-top: -10px;
}
.background-text-grasssuplex .horizontal-text2-grasssuplex{
    margin-top: 67px;
    margin-left: 19px;
    font-size: 15px;
    font-family: Akzidenz-Grotesk BQBold;
    letter-spacing: 0.4px;
}
.background-text-grasssuplex .horizontal-text3-grasssuplex{
    font-size: 95px;
    display: inline-block;
    font-family: RobotikaBold;
    letter-spacing: 2px;
    margin-left: 14px;
    margin-top: -16px;
    width: 105%;
}
.background-text-grasssuplex .horizontal-text3-grasssuplex p{
    font-size: 95px;
    display: inline-block;
    font-family: RobotikaThin;
    letter-spacing: 2px;
    margin-left: -4px;
    margin-bottom: 0;
    
}.background-text-grasssuplex .horizontal-text3-grasssuplex p:last-child{
    font-size: 95px;
    display: inline-block;
    font-family: RobotikaThin;
    letter-spacing: 2px;
    margin-left: -1px;
}
.background-text-grasssuplex .horizontal-text4-grasssuplex{
    font-size: 16px;
    font-family: livemonoRegular;
    letter-spacing: 0.4px;
    margin-left: 15px;
    width: 50%;
    line-height: 1.15;
}
.background-text-grasssuplex .horizontal-text5-grasssuplex{
    font-size: 8px;
    font-family: Akzidenz-Grotesk BQ;
    letter-spacing: 0.4px;
    margin-top: 50px;
    margin-left: 19px;
    display: inline-block;
}
.recuadro-grasssuplex {
    display: flex;
    margin-left: -170px;
    margin-top: 492px;
}
.recuadro-grasssuplex .recuadro-item1-grasssuplex{
    background-color:white;
    color: black;
    width: 314px;
    height: 136px;
    padding-top: 45px;
    padding-left: 64px;
}
.recuadro-grasssuplex .recuadro-item1-grasssuplex p:first-child{
    font-family: Inter;
    font-size: 9px;
    margin-bottom: 1px;
    font-weight: bold;
}
.recuadro-grasssuplex .recuadro-item1-grasssuplex p:last-child{
    font-family: Inter;
    font-size: 14px;
    letter-spacing: -0.45px;
}
.recuadro-grasssuplex .recuadro-item2-grasssuplex{
   background-color: #2C8840;
    width: 92px;
    height: 136px;
    padding-left: 35px;
    padding-top: 52px;
}
.recuadro-grasssuplex .recuadro-item2-grasssuplex img:first-child{
    display: block;
    width: 21px;
    height: 7px;
    margin-bottom: 28px;
 }
 .recuadro-grasssuplex .recuadro-item2-grasssuplex img:last-child{
    display: block;
    width: 21px;
    height: 7px;
 }
/* :::::::::::::::::: Dosis :::::::::::::::::::::::::::::: */
.dosis .data-sheet .data-sheet-item-grass{
    border-right: solid black 1px;
    width: 74%;
    padding-left:31px ;
    padding-top: 29px;
    padding-bottom: 45px;
    vertical-align: middle;
}
.dosis .data-sheet .data-sheet-item-grass p:first-child{
    font-size: 1rem;
    margin-bottom: 0;
    font-family: Akzidenz-Grotesk BQBold;
}
.dosis .data-sheet .data-sheet-item-grass p:last-child{
    font-size: 1rem;
    margin-bottom: 0;
    font-family: Akzidenz-Grotesk BQ;
}