/* ::::::::::::: texto de slider Programa Ganatec ::::::::::::::::*/
#slider-pganatec{
    display: none;
    margin-right: 100px;
}
.background-text{
    display: flex;
    position:absolute;
    left: 2.95%;
    top: 40%;
    color:white; 
}
.background-text .vertical-pganatec{
    list-style: none;
    padding-left: 82%;
    display: none;
    margin-left: -80px;
}
.background-text .vertical-text{
    font-size: 8px;
    font-family: Inter;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-top: 231px;
    letter-spacing: -0.5px;
    height: 20%;
}
.background-text .vertical-line{
    border-right: 2px solid white;
    height: 47px;
    margin-top: 14px;
    width: 6px;
}
.background-text .horizontal-text1-pganatec{
    font-size: 75px;
    font-family: Inter;
    height: 90px;
    /*margin-left: 10px;
    elementos agregados*/
    display: none;
    margin-left: -80px;
}
.background-text .horizontal-text1-pganatec p{
    font-size: 15px;
    font-family: Akzidenz-Grotesk BQBold;
    letter-spacing: -0.5px;
    margin-top: -25px;
    margin-left: 10px;
}
.background-text .horizontal-text2-pganatec{
    font-size:103px;
    font-family: RobotikaThin ;
    letter-spacing: -3px;
    margin-top: 25px;
    margin-left: 15px;
    /*elementos agregados*/
    display: none;
    margin-left: -80px;
}
.background-text .horizontal-text3-pganatec{
    font-size:103px;
    font-family: RobotikaBold ;
    letter-spacing: -4px;
    margin-top: -33px;
    /*margin-left: 15px;
    elementos agregados*/
    display: none;
    margin-left: -80px;
}
.background-text .horizontal-text4-pganatec{
    font-size: 8px;
    font-family: Akzidenz-Grotesk BQ;
    letter-spacing: 0.3px;
    margin-top: 3px;
    /*margin-left: 14px;
    elementos agregados*/
    display: none;
    margin-left: -80px;
}
.recuadro-pganatec {
    display: none;
    margin-left: 340px;
    margin-top: 312px;
}
.recuadro-pganatec .recuadro-item1-pganatec{
    background-color:white;
    color: black;
    width: 314px;
    height: 136px;
    padding-top: 38px;
    padding-left: 64px;
}
.recuadro-pganatec .recuadro-item1-pganatec p:first-child{
    font-family: Inter;
    font-size: 9px;
    margin-bottom: 1px;
    font-weight: bold;
}
.recuadro-pganatec .recuadro-item1-pganatec p:last-child{
    font-family: Inter;
    font-size: 14px;
    letter-spacing: -0.45px;
}
.recuadro-pganatec .recuadro-item2-pganatec{
   background-color: #FD7900;
    width: 92px;
    height: 136px;
    padding-left: 35px;
    padding-top: 52px;
}
.recuadro-pganatec .recuadro-item2-pganatec img:first-child{
    display: block;
    width: 21px;
    height: 7px;
    margin-bottom: 28px;

 }
 .recuadro-pganatec .recuadro-item2-pganatec img:last-child{
    display: block;
    width: 21px;
    height: 7px;
 }