/* ::::::::::::: texto de slider Programa Ganatec ::::::::::::::::*/
.background-text{
    display: flex;
    position:absolute;
    left: 2.95%;
    top: 40%;
    color:white; 
}
.background-text ul{
    list-style: none;
    padding-left: 82%;
}
.background-text .vertical-text{
    font-size: 8px;
    font-family: Inter;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-top: 231px;
    letter-spacing: -0.5px;
    height: 20%;
}
.background-text .vertical-line{
    border-right: 2px solid white;
    height: 47px;
    margin-top: 14px;
    width: 6px;
}
.background-text .horizontal-text1{
    font-size: 75px;
    font-family: Inter;
    height: 90px;
    margin-left: 10px;
}
.background-text .horizontal-text1 p{
    font-size: 15px;
    font-family: Akzidenz-Grotesk BQBold;
    letter-spacing: -0.5px;
    margin-top: -25px;
    margin-left: 10px;
}
.background-text .horizontal-text2{
    font-size:103px;
    font-family: RobotikaThin ;
    letter-spacing: -3px;
    margin-top: 25px;
    margin-left: 15px;
}
.background-text .horizontal-text3{
    font-size:103px;
    font-family: RobotikaBold ;
    letter-spacing: -4px;
    margin-left: 2px;
    margin-top: -33px;
    margin-left: 15px;
}
.background-text .horizontal-text4{
    font-size: 8px;
    font-family: Akzidenz-Grotesk BQ;
    letter-spacing: 0.3px;
    margin-top: 3px;
    margin-left: 14px;
}
.recuadro {
    display: flex;
    margin-left: 346px;
    margin-top: 312px;
}
.recuadro .recuadro-item1{
    background-color:white;
    color: black;
    width: 314px;
    height: 136px;
    padding-top: 38px;
    padding-left: 64px;
}
.recuadro .recuadro-item1 p:first-child{
    font-family: Inter;
    font-size: 9px;
    margin-bottom: 1px;
    font-weight: bold;
}
.recuadro .recuadro-item1 p:last-child{
    font-family: Inter;
    font-size: 14px;
    letter-spacing: -0.45px;
}
.recuadro .recuadro-item2{
   background-color: #FD7900;
    width: 92px;
    height: 136px;
    padding-left: 35px;
    padding-top: 52px;
}
.recuadro .recuadro-item2 img:first-child{
    display: block;
    width: 21px;
    height: 7px;
    margin-bottom: 28px;

 }
 .recuadro .recuadro-item2 img:last-child{
    display: block;
    width: 21px;
    height: 7px;
 }