@font-face {
	font-family: 'app-mon';
	src:url('../fonts/app-mon.eot?qxwog4');
	src:url('../fonts/app-mon.eot?qxwog4#iefix') format('embedded-opentype'),
		url('../fonts/app-mon.ttf?qxwog4') format('truetype'),
		url('../fonts/app-mon.woff?qxwog4') format('woff'),
		url('../fonts/app-mon.svg?qxwog4#app-mon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'app-mon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-address-book:before {
	content: "\e601";
}
.icon-tablet:before {
	content: "\e606";
}
.icon-user:before {
	content: "\e609";
}
.icon-user-check:before {
	content: "\e600";
}
.icon-user-tie:before {
	content: "\e60b";
}
.icon-briefcase:before {
	content: "\e60c";
}
.icon-menu:before {
	content: "\e602";
}
.icon-menu3:before {
	content: "\e610";
}
.icon-menu4:before {
	content: "\e611";
}
.icon-wink:before {
	content: "\e603";
}
.icon-paragraph-justify:before {
	content: "\e604";
}
.icon-google-plus2:before {
	content: "\e605";
}
.icon-facebook2:before {
	content: "\e607";
}
.icon-twitter2:before {
	content: "\e608";
}
.icon-youtube3:before {
	content: "\e60a";
}
.icon-lanyrd:before {
	content: "\e60d";
}
.icon-github:before {
	content: "\e60e";
}
.icon-github3:before {
	content: "\e60f";
}

