
h3{
	color: red;
	font-weight: bolder;
}
span{
	color: white;
}
.oculto{
	display: none; 
}
.face, .twi, .email{
	color:#90979a;
	font-size: 20px;
}
.face, .twi{
	margin-right: 10px;
}
.face:hover, .twi:hover, .email:hover{
	color:white;
}
.menumovil{
	font-size:2rem;
	color:red;
	margin-top: 25px;
}
.itemmenu{
    color: black;
    text-decoration: none;
    font-size:16px;
}
.itemmenu:hover{
    color: red;
    text-decoration: none;
    font-weight: bold;
}
.submenu{
	display: inline-block;
	padding: 2rem 2rem;
}
.submenu:hover{
	border-bottom: solid rgb(213, 37, 40) 3px;
}
.ventas{
	border-top: solid rgb(213, 37, 40) 2px;
	background-color: #222629;
	padding: 10px 5px;
}
.titulo, .contenido{
	text-align: center;
}
.titulo{
	background-color: #222629;/*#6c757d;*/
	color: white;
}

.formulario{
	padding-top: 30px
}
#somos{
	background-image: url("../imgp/fondoSomos.jpg");
}
#soluciones{
	background-image: url("../imgp/fondoSomos.jpg");
	background-repeat: no-repeat;
}
#mapa{
	padding-left: 60px;
}
#contacto{
	padding-top: 50px
}
.liLateral{
	background: red;/*#2f4050*/ 
	color: white; /* #a7b1c2*/
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif; 
	list-style: none; 
	padding: 10px 40px 10px 40px;	
	z-index: 0; 
	border-bottom:1px solid #1e1e1e;
	text-align: right;
	margin-left: 90px
}
.ulLateral{padding: 0; width: 100%;}