span{
	font-size: .8rem;
}
a{
    color: #ff0000
}
a:hover{
	color: black;
	font-size: 15px;
}

.submenu{
	
	display: inline-block;
	padding: 2rem 1.7rem;
	border-bottom: solid white 3px;
}
.submenu:hover{
	/*border: solid black 1px;*/
	display: inline-block;
	padding: 2rem 1.7rem;
	border-bottom: solid rgb(213, 37, 40) 3px;
}
.ventas{
	border-top: solid rgb(213, 37, 40) 2px;
	background-color: rgb(242, 242, 242);
	padding: 16px 5px;
}
.titulo, .contenido{
	text-align: center;
}
.titulo{
	background-color: #6c757d;	
}

.formulario{
	padding-top: 30px
}
#slaider{
	background-image: url("../imgp/itemSlaider.jpg");
	background-repeat: no-repeat;
	height: 400px;
}
#somos{
	background-image: url("../imgp/fondoSomos.jpg");
	height: 350px;

}
#ventas{
	background-image: url("../imgp/fondoSomos.jpg");
	background-repeat: no-repeat;
	height: 400px;
}
#mapa{
	padding-left: 60px;
}
#contacto{
	padding-top: 50px
}
