@import 'fonts.styl'
@import 'laila.styl'
@import 'lato.styl'



body 
	background-image url(../img-ss/santasofia_fondo1.png)
	background-repeat no-repeat
	background-size cover
	background-attachment fixed
	font-size 12px
	font-family 'lailamedium'
footer
	background-color #fff
	opacity 0.9
	padding-top 1.5em
h2
	color #06308E //azul #FF3D00
	font-size 4.5em
	font-weight 700
	text-align center
	letter-spacing 0.1em
	margin-top 1.5em
	padding-bottom 1.5em
header
	padding-bottom 1em
hr
	border 5px #06308E solid
li
	list-style-type none
span
	color #06308e
	font-weight bold
//section
	//margin-top 30px
	//padding-top 30px
	//position fixed
.f-logo,
.f-servicios,
.f-contacto
	margin-top 40px
	margin-bottom 40px
.h2-blanco
	color #FDFDFD
	font-size 4.7em
	font-weight 700
	text-align center
	letter-spacing 0.1em
	margin-top 1.5em
	padding-bottom 1.5em
.hr-blanco
	border 5px #FDFDFD solid
.hr-menu
	background-color #fff
	border 0
	height 2px
	margin-top 2px
	margin-bottom 2px
.img-web
	border-radius 50px	
.menu
	text-transform uppercase
	text-decoration none
	color #ffffff
	font-family 'latobold'
	margin-left 35px
	//font-weight 300
	letter-spacing 0.3em
	display inline-block
	font-size 1em
.menu:link,
.menu:active,
.menu:visited
	text-decoration none
	color #ffffff
.menu:hover
	font-size 1.1em
	margin-left 32px
.menu-pegajoso:link,
.menu-pegajoso:hover,
.menu-pegajoso:active
	text-decoration none
	color #0A0A2A
.menu-pegajoso
	text-transform uppercase
	text-decoration none
	color #6E6E6E
	font-family 'latobold'
	margin-left 42px
	font-weight bold
	letter-spacing 0.3em
	display inline-block
	font-size 1em
.logo
	margin-top 20px
.social
	background #333	
	padding-top 24px
	padding-bottom 15px
.servicios
	//background-color black
	color #fff
	opacity 0.8
	padding-top 10px
	padding-bottom 10px
.sub-servicios
	border solid 1px #fff
	border-radius 10px
.item-social
	background #6F6E6E
	border-radius 50%
	color black
	font-size 20px
	display inline-block
	padding 5px
	text-align center
.item-social:link,
.item-social:active,
.item-social:hover,
.item-social:visited
	color black
.temporal
	border solid 1px white
.text-quienes1
	margin-top 3em
	font-size 2em
	//text-decoration underline
	line-height 1.9em
    font-weight normal
.text-quienes2
	margin-top 2.5em
	font-size 1.5em
.text-servicios
	margin-top 3em
	font-size 2em
.text-servicios-top
	margin-top 7em
	font-size 1.2em
.texto
	color #F1EEEE
	font-size 3.5em
	font-weight 700
	margin-top 0.5em
	margin-bottom 0.2em
	margin-top 1em
	margin-bottom 1em
	text-align center
.text:hover
	color #06308e
.inicio
	//background #5A5A5A
	//opacity 0.70
	padding 5em 0
	padding 7em 0 7em 0
	//margin-top 1em
.nav-pegajoso
	padding-top 30px
	margin-top 30px
	margin-bottom 10px
	padding-bottom 30px
.quienes
	background-color #fff
	opacity 0.9
	padding-top 1.5em
	padding-bottom 5em
.servicios
	opacity 0.9
	padding-top 1.5em
	padding-bottom 5em
.titulo
	padding-top 1em
	padding-bottom 2.5em
.tempcolor
	color white
// ++++++ Estilos para los ID ++++++++++++
#img1
	top 30px
#img2
	top -20px
#img3
	top -50px
	
	