
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fondo-img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 90%;
}
.fondo-img img{
    width: 100%;
    height: 100%;
}
.menu{
    position: absolute;
    z-index: 2;
}